node red flow.txt
[{"id":"cd5bb282.bb513","type":"e-mail","z":"fe408a38.ce1e8","server":"smtp.gmail.com","port":"465","secure":true,"name":"vgr.vallabhu@gmail.com","dname":"","x":653.2000122070312,"y":441,"wires":[]},{"id":"cdc76a96.b7dd6","type":"debug","z":"fe408a38.ce1e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":614.2000122070312,"y":514,"wires":[]},{"id":"3bd32225.2b4bae","type":"function","z":"fe408a38.ce1e8","name":"mail function","func":"global.set(\"month\",msg.payload.month)\nglobal.set(\"main_hall\",msg.payload.main_hall)\nglobal.set(\"AC\",msg.payload.AC)\nglobal.set(\"lights\",msg.payload.lights)\nglobal.set(\"living_room\",msg.payload.living_room)\nglobal.set(\"fan\",msg.payload.fan)\nglobal.set(\"bath_plgs\",msg.payload.bath_plgs)\nglobal.set(\"laundary\",msg.payload.laundary)\nglobal.set(\"fridge\",msg.payload.fridge)\nglobal.set(\"kitchen\",msg.payload.kitchen)\nglobal.set(\"furnace\",msg.payload.furnace)\nglobal.set(\"microwave\",msg.payload.microwave)\nglobal.set(\"guest\",msg.payload.guest)\nglobal.set(\"guest_bath\",msg.payload.guest_bath)\nglobal.set(\"mini_fridge\",msg.payload.mini_fridge)\nglobal.set(\"others\",msg.payload.others)\n\n\nvar month=global.get(\"month\");\nvar main_hall=global.get(\"main_hall\");\nvar AC=global.get(\"AC\");\nvar lights=global.get(\"lights\");\nvar living_room=global.get(\"living_room\");\nvar fan=global.get(\"fan\");\nvar bath_plgs=global.get(\"bath_plgs\");\nvar laundary=global.get(\"laundary\");\nvar fridge=global.get(\"fridge\");\nvar kitchen=global.get(\"kitchen\");\nvar furnace=global.get(\"furnace\");\nvar microwave=global.get(\"microwave\");\nvar guest=global.get(\"guest\");\nvar guest_bath=global.get(\"guest_bath\");\nvar mini_fridge=global.get(\"mini_fridge\");\nvar others=global.get(\"others\");\n\n// average values\nvar avgmainhall=1020.42\nvar avgAC=1420.13\nvar avglights=102.63\nvar avglivingroom=11.222\nvar avgfan=29.19\nvar avgbath=0.47\nvar avglaundary=1187.39\nvar avgfridge=68.15\nvar avgkitchen=119.83\nvar avgfurnace=167.033\nvar avgmicrowave=20.72\nvar avgguest=192.57\nvar avgguestbath=37.97\nvar avgmini=56.49\nvar avgothers=65.84\nvar str=\"ANALYSIS WITH RESPECT TO EACH APPLIANCE\"\nstr+=\"\\nAvegare usage in HALL ROOM:\"+avgmainhall+\"\\t\\tEnergy used in that month:\"+main_hall\nstr+=\"\\nAvegare usage in AC:\"+avgAC+\"\\t\\t\\t\\tEnergy used in that month:\"+AC\nstr+=\"\\nAvegare usage in LIGHTS:\"+avglights+\"\\t\\t\\t\\tEnergy used in that month:\"+lights\nstr+=\"\\nAvegare usage in LIVING ROOM:\"+avglivingroom+\"\\t\\tEnergy used in that month:\"+living_room\nstr+=\"\\nAvegare usage in FAN:\"+avgfan+\"\\t\\t\\t\\tEnergy used in that month:\"+fan\nstr+=\"\\nAvegare usage in BATH PLUGS:\"+avgbath+\"\\t\\tEnergy used in that month:\"+bath_plgs\nstr+=\"\\nAvegare usage in LAUNDARY:\"+avglaundary+\"\\t\\tEnergy used in that month:\"+laundary\nstr+=\"\\nAvegare usage in FRIDGE:\"+avgfridge+\"\\t\\t\\t\\tEnergy used in that month:\"+fridge\nstr+=\"\\nAvegare usage in KITCHEN:\"+avgkitchen+\"\\t\\t\\tEnergy used in that month:\"+kitchen\nstr+=\"\\nAvegare usage in FURNACE:\"+avgfurnace+\"\\t\\tEnergy used in that month:\"+furnace\nstr+=\"\\nAvegare usage in MICROWAVE:\"+avgmicrowave+\"\\t\\tEnergy used in that month:\"+microwave\nstr+=\"\\nAvegare usage in GUEST:\"+avgguest+\"\\t\\t\\t\\tEnergy used in that month:\"+guest\nstr+=\"\\nAvegare usage in GUEST BATHROOM:\"+avgguestbath+\"\\t\\tEnergy used in that month:\"+guest_bath\nstr+=\"\\nAvegare usage in MINI FRIDGE:\"+avgmini+\"\\t\\t\\tEnergy used in that month:\"+mini_fridge\nstr+=\"\\nAvegare usage in OTHERS:\"+avgothers+\"\\t\\t\\t\\tEnergy used in that month:\"+others\nstrm=\"\\n\\nMONTH WISE ANALYSIS\\n\"\nsum=main_hall+lights+living_room+fan+bath_plgs+laundary+fridge+furnace+microwave+guest+guest_bath+mini_fridge+others\nif(month==4){\n    strm+=\"Average energy to be used in January :984.513\\nActual energy used is:\"+sum\n}\nif(month==3){\n    strm+=\"Average energy to be used in February :1062.82\\nActual energy used is:\"+sum\n}\nif(month==7){\n    strm+=\"Average energy to be used in March :1180.79\\nActual energy used is:\"+sum\n}\nif(month==0){\n    strm+=\"Average energy to be used in April :1159.898\\nActual energy used is:\"+sum\n}\nif(month==8){\n    strm+=\"Average energy to be used in May :1252.92\\nActual energy used is:\"+sum\n}\nif(month==6){\n    strm+=\"Average energy to be used in June :1201.03\\nActual energy used is:\"+sum\n}\nif(month==5){\n    strm+=\"Average energy to be used in July :1197.475\\nActual energy used is:\"+sum\n}\nif(month==1){\n    strm+=\"Average energy to be used in August :1185.633\\nActual energy used is:\"+sum\n}\nif(month==11){\n    strm+=\"Average energy to be used in September :1073.41\\nActual energy used is:\"+sum\n}\nif(month==10){\n    strm+=\"Average energy to be used in October :912.098\\nActual energy used is:\"+sum\n}\nif(month==9){\n    strm+=\"Average energy to be used in November :946.089\\nActual energy used is:\"+sum\n}\nif(month==2){\n    strm+=\"Average energy to be used in December :907.4841\\nActual energy used is:\"+sum\n}\n\n\nmsg={\n    payload:str+strm,\n    topic:\"trying\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":340.20001220703125,"y":462,"wires":[["cd5bb282.bb513","cdc76a96.b7dd6"]]},{"id":"aaace447.0805e8","type":"inject","z":"fe408a38.ce1e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170.20001220703125,"y":144,"wires":[["7ceba035.529c1"]]},{"id":"7ceba035.529c1","type":"function","z":"fe408a38.ce1e8","name":"prediction","func":"var token=msg.payload.token;\nvar month=global.get(\"month\");\nvar main_hall=global.get(\"main_hall\");\nvar AC=global.get(\"AC\");\nvar lights=global.get(\"lights\");\nvar living_room=global.get(\"living_room\");\nvar fan=global.get(\"fan\");\nvar bath_plgs=global.get(\"bath_plgs\");\nvar laundary=global.get(\"laundary\");\nvar fridge=global.get(\"fridge\");\nvar kitchen=global.get(\"kitchen\");\nvar furnace=global.get(\"furnace\");\nvar microwave=global.get(\"microwave\");\nvar guest=global.get(\"guest\");\nvar guest_bath=global.get(\"guest_bath\");\nvar mini_fridge=global.get(\"mini_fridge\");\nvar others=global.get(\"others\");\n\n\nmsg.payload={\"fields\":[\"month\",\"main_hall\",\"AC\",\"lights\",\"living_room\",\"fan\",\"bath_plgs\",\"laundary\",\"fridge\",\"kitchen\",\"furnace\",\"microwave\",\"guest\",\"guest_bath\",\"mini_fridge\",\"others\"],\"values\":[[month,main_hall,AC,lights,living_room,fan,bath_plgs,laundary,fridge,kitchen,furnace,microwave,guest,guest_bath,mini_fridge,others]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":331.20001220703125,"y":203,"wires":[["39aea464.66b75c"]]},{"id":"b3717371.d6378","type":"ui_form","z":"fe408a38.ce1e8","name":"","label":"","group":"295904f8.c787cc","order":2,"width":0,"height":0,"options":[{"label":"month","value":"month","type":"number","required":false},{"label":"main_hall","value":"main_hall","type":"number","required":false},{"label":"AC","value":"AC","type":"number","required":false},{"label":"lights","value":"lights","type":"number","required":false},{"label":"living_room","value":"living_room","type":"number","required":false},{"label":"fan","value":"fan","type":"number","required":false},{"label":"bath_plgs","value":"bath_plgs","type":"number","required":false},{"label":"laundary","value":"laundary","type":"number","required":false},{"label":"fridge","value":"fridge","type":"number","required":false},{"label":"kitchen","value":"kitchen","type":"number","required":false},{"label":"furnace","value":"furnace","type":"number","required":false},{"label":"microwave","value":"microwave","type":"number","required":false},{"label":"guest","value":"guest","type":"number","required":false},{"label":"guest_bath","value":"guest_bath","type":"number","required":false},{"label":"mini_fridge","value":"mini_fridge","type":"number","required":false},{"label":"others","value":"others","type":"number","required":false}],"formValue":{"month":"","main_hall":"","AC":"","lights":"","living_room":"","fan":"","bath_plgs":"","laundary":"","fridge":"","kitchen":"","furnace":"","microwave":"","guest":"","guest_bath":"","mini_fridge":"","others":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":155.20001220703125,"y":439,"wires":[["c2119a50.ae30f8","3bd32225.2b4bae"]]},{"id":"c2119a50.ae30f8","type":"function","z":"fe408a38.ce1e8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"33d1c309-3669-482c-a19a-d2ea44dfc779\"\nvar password=\"6dd61f21-4225-4275-a9b4-cb05b2eda708\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"month\",msg.payload.month)\nglobal.set(\"main_hall\",msg.payload.main_hall)\nglobal.set(\"AC\",msg.payload.AC)\nglobal.set(\"lights\",msg.payload.lights)\nglobal.set(\"living_room\",msg.payload.living_room)\nglobal.set(\"fan\",msg.payload.fan)\nglobal.set(\"bath_plgs\",msg.payload.bath_plgs)\nglobal.set(\"laundary\",msg.payload.laundary)\nglobal.set(\"fridge\",msg.payload.fridge)\nglobal.set(\"kitchen\",msg.payload.kitchen)\nglobal.set(\"furnace\",msg.payload.furnace)\nglobal.set(\"microwave\",msg.payload.microwave)\nglobal.set(\"guest\",msg.payload.guest)\nglobal.set(\"guest_bath\",msg.payload.guest_bath)\nglobal.set(\"mini_fridge\",msg.payload.mini_fridge)\nglobal.set(\"others\",msg.payload.others)\nreturn msg","outputs":1,"noerr":0,"x":354.20001220703125,"y":362,"wires":[["d5052009.d22a18"]]},{"id":"d5052009.d22a18","type":"http request","z":"fe408a38.ce1e8","name":"","method":"GET","ret":"obj","url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","x":371.20001220703125,"y":274,"wires":[["7ceba035.529c1"]]},{"id":"39aea464.66b75c","type":"http request","z":"fe408a38.ce1e8","name":"","method":"POST","ret":"obj","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b5140363-4814-48eb-aa4e-0d72e0e9df0a/deployments/2f0c0081-2005-4bf8-a466-4277f418b2a0/online","tls":"","x":501.20001220703125,"y":120,"wires":[["5accc8ec.6e4218"]]},{"id":"5accc8ec.6e4218","type":"function","z":"fe408a38.ce1e8","name":"o/p parsing","func":"var aa=msg.payload.values[0][0]\nif(aa === 0)\nmsg.payload=\"Economical\"\nif(aa == 1)\nmsg.payload=\"Feasible\"\nif(aa == 2)\nmsg.payload=\"High\"\nif(aa == 3)\nmsg.payload=\"Extreme\"\nreturn msg;","outputs":1,"noerr":0,"x":636.2000122070312,"y":303,"wires":[["6ffc9692.54228","807bc514.bf72d8"]]},{"id":"6ffc9692.54228","type":"ui_text","z":"fe408a38.ce1e8","group":"295904f8.c787cc","order":18,"width":0,"height":0,"name":"","label":"Energy_audit:","format":"{{msg.payload}}","layout":"row-spread","x":798.2000122070312,"y":185.99998474121094,"wires":[]},{"id":"807bc514.bf72d8","type":"debug","z":"fe408a38.ce1e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":786.2000122070312,"y":336,"wires":[]},{"id":"295904f8.c787cc","type":"ui_group","z":"","name":"Energy Audit ","tab":"4b7a70a7.7e043","disp":true,"width":"6","collapse":false},{"id":"4b7a70a7.7e043","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]